@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
.aldrich-regular {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(180deg, #3b0000 0%, #1a0000 70%, #000000 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
div {
    border: 2px solid black;
    height: 400px;
    width: 500px;
    position: absolute;
    left: 35%;
    top: 20%;
    box-shadow: -10px 14px 12px 12px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(180deg, #110202 0%, #710707 70%, #300909 100%);
    text-align: center;
    color: white;
    border-radius: 15px;
}
#intro img {
    width: 300px;
    height: 180px;
    margin-top: 46px;
}
#intro h1 {
    margin-top: 20px;
    font-family: "Aldrich";
    background: linear-gradient(180deg, #a51530 0%, #1a0000 70%, #000000 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
}
#first h3 {
  margin-top: 20px;
}
